body{
    height: 100%;
    width: 97%;
    background-image: url('./images/fundo.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}
button{
    width: 90px;
    color: rgba(255, 255, 0, 0.677);
    font-weight: bolder;
    border-radius: 50%;
    font-style: italic;
    font-size: xx-large;
    border: solid 3px rgba(255, 255, 0, 0.677);
    box-shadow: 2px 2px 2px 2px rgba(255, 255, 0, 0.677);
    height: 90px;
    background-color: rgba(200, 10, 10, 0.705);
    float: left;
    margin-left: 2.2vw;
    margin-top: 39vh;
    margin-bottom: auto;
}